<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>

<h1>Kalkulator</h1>
<section>
    <p>Kalkulator obsługuje nastepujące operacje na liczbach całkowitych : + , - , *, /.</p>
    <form action="/calculate">
        <label for="valueu">Wpisz wyrażenie np. 2 + 2</label>
        <input type="text" name="inputValue" id="valueu">
        <button>Oblicz</button>
    </form>
</section>

<section>
    <table th:if="${result}" >
        <tr >
            <td>Rezultat:</td>
            <td th:text="${inputValue}"></td>
            <td> = </td>
            <td th:text="${result}"></td>
        </tr>
    </table>

</section>
</body>
</html>